.eshop-navigate
	width: 100%
	.eshop-navigate-content
		background-color: #333
		width: 100%
		.eshop-navigate-row
			display: inline-block
			font-size: 23px
			height: 50px
			line-height: 50px
			list-style: none
			margin: 0 12px
			position: relative
			text-align: center
			text-decoration: none
			.eshop-navigate-row-text
				color: #9d9d9d
				&:hover
					color: #fff
					text-decoration: none

