.eshop-navigate
	background-color: coral
	width: 100%
	.eshop-navigate-row
		box-shadow: 1px 1px 1px #999
		color: #fff
		font-size: 20px
		height: 30px
		line-height: 30px
		list-style: none
		margin: 0 8px
		position: relative
		text-align: center
		text-decoration: none
		width: 63px